<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% assign meta_description = page.description | default: page.subtitle | default: site.description %}
    <meta name="description" content="{{ meta_description | strip_html | normalize_whitespace | escape }}">
    <meta name="keywords"  content="{{ site.keyword }}">
    <meta name="theme-color" content="{{ site.chrome-tab-theme-color }}">
    
    <title>{% if page.title %}{{ page.title }} - {{ site.SEOTitle }}{% else %}{{ site.SEOTitle }}{% endif %}</title>

    <!-- Web App Manifest -->
    <link rel="manifest" href="{{ site.baseurl }}/pwa/manifest.json">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ site.baseurl }}/img/favicon.ico">

    <!-- Safari Webpage Icon -->
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/img/apple-touch-icon.png">
    
    <!-- Canonical URL -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/hux-blog.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/portfolio.css?v=" | append: site.asset_version | prepend: site.baseurl }}">

    <!-- Pygments Github CSS -->
    <link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl }}">
    <!-- ga & ba script hoook -->
    <script></script>
</head>
